@import url(common.css);
@import url(header+footer.css);
@import url(menu.css);

section {
  max-width: 90%;
  border: 1px solid transparent;
  margin: auto;
  box-sizing: border-box;
}

#Wrap {
  margin: 100px auto 20px;
}

.tabMenu ul {
  display: flex;
  margin: auto;
  justify-content: space-around;
}

.tab_btn li {
  color: #00144C;
  font-weight: 700;
  width: 50%;
  text-align: center;
  padding: 10px 0;
}

.tab_btn li:hover,
.tab_btn li.active {
  border: 1px solid #efefef;
  background-color: #fff;
  border-top: 4px solid #00134B;
  border-bottom: none;
}

.list:nth-of-type(1) {
  border: 1px solid #eee;
  border-bottom: none;
}

.list:nth-of-type(2) {
  border: 1px solid #eee;
  border-top: none;
}

.list h3 {
  color: #00144C;
  font-size: 16px;
  padding: 10px 20px;
  margin: 10px 0;
}

.list ul {
  border-radius: 20px;
  background-color: #F5F5F5;
  font-size: 14px;
  font-weight: 400;
  padding: 10px 0;
  margin: 10px;
}

.list ul li {
  list-style-type: square;
  line-height: 20px;
  width: 80%;
  margin: auto;
  color: #777;
}

.list img {
  width: 90%;
  margin: 30px 17px;
}

#tab2 {
  background-color: #002063;
  color: #fff;
  padding: 25px;
}

.con_1 {
  margin: 20px 0;
}

.con_1 h3,
.con_2 h3 {
  font-size: 18px;
  margin: 7px 15px;
}

.con_1 p,
.con_2 p {
  font-size: 12px;
  margin: 7px 15px;
}

.logo_image {
  width: 100px;
  height: auto;
  margin: 45px auto;
}

.con_2 {
  margin: 30px 0;
}

.con_2 div {
  display: flex;
  margin: 20px 0;
  justify-content: space-around;
}

.con_2 ul:nth-child(1) li {
  background-color: #fff;
  color: #002063;
  width: 90px;
  height: 90px;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  line-height: 90px;
  border-radius: 50%;
  margin: 10px 0;
}

.con_2 ul:nth-child(2) li {
  font-size: 12px;
  font-weight: 400;
  height: 50px;
  line-height: 20px;
  padding: 20px 15px;
  margin: 10px 0;
}

.con_3 {
  display: flex;
  justify-content: center;
}

.con_3 img {
  border-radius: 10px;
  margin: 10px auto 30px;
}

.con_4 {
  border: 1px solid #000;
  font-size: 8px;
  line-height: 12px;
  font-weight: 500;
  text-align: center;
  padding: 25px;
  color: #002063;
  background-color: #f5f5f5;
}

.tabContent>div {
  display: none;
}

.tabContent .active {
  display: block;
}