@import url(common.css);
@import url(header+footer.css);
@import url(menu.css);

section {
  max-width: 100%;
  border: 1px solid transparent;
  margin: auto;
}

#club {
  width: 96%;
  margin: 100px auto 40px;
  z-index: -1;
}

.clubName {
  border: 1px solid #ddd;
  position: relative;
  display: flex;
  padding: 15px;
  margin-bottom: 5px;
}

.clubName:hover {
  border-top: 3px solid #001048;
}

.clubName div {
  line-height: 20px;
  padding: 5px 15px;
}

.clubName>div>h3 {
  font-size: 16px;
  font-weight: 700;
}

.clubName>div>p {
  font-size: 12px;
  font-weight: 400;
  color: #666;
}

.clubName img {
  width: 70px;
  height: auto;
}

.clubName a span {
  position: absolute;
  border-radius: 50%;
  background-color: #E84E1E;
  color: #fff;
  font-size: 30px;
  padding-left: 2px;
  bottom: 30px;
  right: 20px;
}

.modal {
  display: none;
  background: rgba(0, 0, 0, 0.9);
  position: fixed;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: 1000;
  margin: auto;
  overflow: auto;
}

.modal_in {
  width: 80%;
  position: absolute;
  top: 10%;
  transform: translateX(-5px);
  color: #000;
}

.modal_in h2 {
  font-size: 25px;
  margin: 20px 0;
  color: #fff;
  text-align: center;
}

.modal-content {
  background-color: #fff;
  border-radius: 20px;
}

.btn_close img {
  position: absolute;
  width: 16px;
  height: 16px;
  right: 20px;
  padding: 15px;
  cursor: pointer;
}

.modal-body {
  text-align: center;
}

.modal-body img {
  width: auto;
  height: 100px;
  margin: 20px auto 10px;
}

.modal-body>h3 {
  padding: 5px;
  font-size: 24px;
  font-weight: 600;
  color: #1e1e1e;
}

.modal-body>h5 {
  color: #aaa;
  font-size: 13px;
  font-weight: 400;
}

.record {
  display: flex;
  text-align: center;
  font-size: 14px;
  color: #2F2F2F;
  justify-content: center;
  margin: 5px 0;
}

.record p {
  text-align: center;
  margin-right: 8px;
}

.record p:nth-child(1) {
  font-size: 25px;
}

.modal_info {
  display: flex;
}

.modal_info ul {
  width: 90%;
  justify-content: space-between;
}

.modal_info ul li {
  display: flex;
  width: 100%;
  background-color: #f1f1f1;
  justify-content: space-around;
  margin-bottom: 9px;
  padding: 10px;
  font-size: 14px;
  font-weight: bold;
  color: #005BAC;
}

.modal_info ul li span {
  width: 80%;
  padding: 0 6px;
  font-size: 13px;
  font-weight: 400;
  color: #666;
}

.modal-content .sns {
  display: flex;
  justify-content: center;
  padding: 20px 0;
}

.modal-content .sns li img {
  width: 40px;
  height: 40px;
  margin: 0 5px;
  text-align: center;
}