@import url(common.css);
@import url(header+footer.css);
@import url(menu.css);

html {
  scroll-behavior: smooth;
}

main {
  background-color: #0062DF;
}

#mubertop {
  padding-top: 70px;
  width: 100%;
  max-width: 767px;
  height: 35px;
  margin: 0px auto;
}

#alltop5 h3 {
  width: 100%;
  max-width: 767px;
  padding-left: 20px;
  color: #002063;
}

.mm_T {
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
}

.mm_T li {
  text-align: center;
  width: 100px;
  height: 30px;
  padding-top: 5px;
  background-color: #F5F5F5;
  border-radius: 30px;
  color: #002063;
  font-weight: bold;
}

.mm_T .active {
  background-color: #002063;
  color: #fff;
}

.top5mub {
  width: 100%;
  max-width: 767px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.top5mub img {
  width: 100px;
  height: auto;
  border-radius: 10px;
  margin: 0px 20px;
}

.top5mubT {
  width: 130px;
  margin: 10px;
  padding: 5px 10px;
  text-align: left;
  border-radius: 10px;
  font-size: 12px;
  font-size: 0.750em;
  background-color: #E7EBF4;
  line-height: 20px;
}

.top5mubT p:nth-of-type(1) {
  color: #E55027;
  font-weight: bold;
}

#numbertopM h3 {
  padding-left: 20px;
  color: #002063;
}

#numbertopM img {
  width: 110px;
}

.mub2 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
}

.mubT2 {
  margin: 10px;
}

.mubT2 p {
  width: 170px;
  margin: 3px;
  padding-bottom: 2px;
  border-bottom: 0.4px solid #E0E0E0;
  color: #636363;
  font-size: 12px;
  font-size: 0.750em;
}

.mubT2 p:nth-of-type(1) {
  font-size: 12px;
  font-size: 0.75em;
  font-weight: bold;
  color: #000;
}

.mubT2 h4 {
  color: #585858;
  font-size: 12px;
  font-size: 0.750em;
  margin-left: -10px;
}

.mubT2 span {
  background-color: #DDDDDD;
  color: #fff;
  border-radius: 50%;
  display: inline-block;
  width: 20px;
  height: 20px;
  text-align: center;
  margin-right: 15px;
}

.mubT2 p:nth-of-type(1) span {
  background-color: #1F4173;
}

.mub2 img {
  width: 30%;
  margin: 0 20px;
  border-radius: 10px;
}

.team10top {
  text-align: center;
  width: 95%;
  margin: 0 auto;
  border: 1px solid #002063;
  border-top: transparent;
  margin: 10px;
  border-radius: 26px;
  text-align: center;
  font-weight: bold;
  overflow: hidden;
}

.today {
  text-align: center;
}

.year {
  text-align: center;
  margin: 20px;
  font-size: 14px;
  font-size: 0.875em;
}

.title {
  color: #fff;
  height: 50px;
  width: 100%;
  border-radius: 26px;
  display: flex;
  justify-content: space-around;
  background-color: #274D88;
}

.title p {
  padding-top: 10px;
}

.rank {
  margin: 10px;
  display: flex;
  justify-content: space-around;
  text-align: center;
  align-items: center;
}

.rank ul li:nth-of-type(1) {
  color: #0053FF;
}

.rank ul li {
  color: #515151;
  width: 90px;
  border-bottom: 0.8px solid #E0E0E0;
}

.rank ul li:last-child {
  border-bottom: transparent;
}

select {
  width: 90px;
  text-align: center;
  height: 30px;
  border: 1px solid #EBEBEB;
}